h3 {
    color: #AAA;
    font-weight: 350;
}

strong {
    color: #313131;
}

.footer-content {
  color: black;
}

i.fas.fa-heart {
  color :red;
}

/* responsive images */
.anime-img {
    width: 230px;
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .anime-img {
      width: 150px;
      height: 200px;
    }
  }

  @media only screen and (max-width: 600px) {
    .card{
      margin: auto;
    }
  }